@page
@model comic_reader.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@{
    foreach (var chapter in Model.Comics)
    {
        WriteLiteral($"<a href=\"/Viewer?chapter={chapter.url}\"><img src=\"{chapter.cover}\" style=\"vertical-align:middle\" width =\"30%\" /></a>");
        WriteLiteral($"<a href=\"/Viewer?chapter={chapter.url}\">{System.IO.Path.GetFileName(chapter.url)}</a><br/>");
    }
}

