@page
@model comic_reader.Pages.ViewerModel
@using System.IO
@using comic_reader
@{
    ViewData["Title"] = "Viewer";
}
<script>
    document.addEventListener('keydown', function (e) {
        //37 is left arrow, 39 is right arrow
        if (e.which === 37 || e.which === 65) {
            document.getElementById('prev').click();
        } else if (e.which === 39 || e.which === 68) {
            document.getElementById('next').click();
        } else if (e.which === 38 || e.which === 87) {
            window.scrollBy(0, -30);
        } else if (e.which === 40 || e.which === 83) {
            window.scrollBy(0, 30);
        }
    });
    var clamp = function (a, b, c) { return Math.max(b, Math.min(c, a)); }
    window.onload = (w,e) => {
        var page = document.getElementById('page');

        page.onclick = function () {
            var currPage = parseInt("@Model.Page".split('/')[0]);
            var maxPage = parseInt("@Model.Page".split('/')[1])-1;
            var gotoPagePrompt = prompt("Which page(0->" + maxPage + ")", currPage);
            if (gotoPagePrompt != null) {
                var gotoPage = clamp(parseInt(gotoPagePrompt), maxPage, 0);

                var url = new URL(window.location.href);
                console.log(url.toString());
                url.searchParams.set('curr', gotoPage);
                console.log(url.toString());
                window.location.href = url.toString();
            }
        };
    };
</script>
<body style="background-color: black">
    @{
        WriteLiteral($"<a id=\"prev\" href=\"{Model.PreviousPage}\"><img src=\"/images/back.png\" width=\"10%\"/></a><br/>");
        WriteLiteral($"<div id=\"page\" style=\"color: black;background-color: white;margin: 0px auto 0px auto; font-size: 2vw ;\" align='center' >{Model.Page}</div>");
    }
    <div id="swipezone" style="margin: 0px auto 0px auto; border: 1px solid Gray" align='center'>
        @{
            WriteLiteral($"<a id=\"next\"  href=\"{Model.NextPage}\"><img src=\"{Model.CurrentPage}\" alt=\"{Model.CurrentPage}\" class=\"center\" width =\"80%\" /></a><br/>");
        }
    </div>
</body>